*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
#game{    
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
#scorePanel{
    text-align: center;
    color: #EEE;
    font-size: 35px;
    width: 200px;
    background-color: #CDC1B4;
    margin: 20px 0;
    border-radius: 5px;
}
#gridPannel{
    width: 475px;
    height: 475px;
    background-color: #bbada0;
    border-radius: 5px;
}
.box{
    width: 100px;
    height: 100px;
    margin: 15px 0 0 15px;
    background-color: #CDC1B4;
    border-radius: 3px;
    float: left;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    color: #EEE;
    font-weight: bold;
}
.n2{
    background-color: #EEE4DA;
    color: #555;
}
.n4 {
    background-color: #EDE0C8;
    color: #555;
}

.n8 {
    background-color: #F2B179;
}

.n16 {
    background-color: #F59563;
}

.n32 {
    background-color: #F67C5F;
}

.n64 {
    background-color: #F65E3B;
}

.n128 {
    background-color: #EDCF72;
}

.n256 {
    background-color: #EDCC61;
}

.n512 {
    background-color: #EDC850;
}
.n1024{
    background: #EDC53F;
    font-size:35px;
}
.n2048{
    background: #EDC22E;
    font-size: 35px;
}
#result{
    width: 475px;
    height: 200px;
    background-color: #AAA;
    position: relative;
    top: -350px;
    border-radius: 5px;
    display: none;
}
#res{
    text-align: center;
    font-size: 50px;
}
#again{
    width: 200px;
    height: 50px;
    background-color: #8F7A66;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: #FFF;
    border: 0px;
    outline: none;
}